@import "src/all";

.single-student {
    .text-small-caps {
        font-weight: bold;
        font-size: $text-size-tiny;
        color: $header-color;
        text-align: center;
        display: block;
        margin: auto;
    }
}
